<!DOCTYPE html>
<html>
    <body>

    <h2>Fill out the information:</h2>

    <p>Marital Status:</p>

    <form>
    <input type="radio" id="html" name="marital" value="Never-married">
    <label for="Never-married">Never married</label><br>
    <input type="radio" id="css" name="marital" value="Divorced">
    <label for="Divorced">Divorced</label><br>
    <input type="radio" id="javascript" name="marital" value="Separated">
    <label for="Separated">Separated</label><br>
    <input type="radio" id="javascript" name="marital" value="Widowed">
    <label for="Widowed">Widowed</label><br>
    <input type="radio" id="javascript" name="marital" value="Married-spouse-absent">
    <label for="Married-spouse-absent">Married, spouse absent</label><br>
    <input type="radio" id="javascript" name="marital" value="Married-AF-spouse">
    <label for="Married-AF-spouse">Married, armed forces spouse</label>
    </form> 

    <p>Relationship:</p>

    <form>
        <input type="radio" id="html" name="relationship" value="Husband">
        <label for="Husband">Husband</label><br>
        <input type="radio" id="css" name="relationship" value="Not-in-family">
        <label for="Not-in-family">Not in family</label><br>
        <input type="radio" id="javascript" name="relationship" value="Own-child">
        <label for="Own-child">Own child</label><br>
        <input type="radio" id="javascript" name="relationship" value="Unmarried">
        <label for="Unmarried">Unmarried</label><br>
        <input type="radio" id="javascript" name="relationship" value="Wife">
        <label for="Wife">Wife</label><br>
        <input type="radio" id="javascript" name="relationship" value="Other-relative">
        <label for="Other-relative">Other relative</label>

    </body>
</html>
