{% extends "layout.html" %}

{% block content %}
<body style="background-color:rgb(202, 202, 202);">

<h1 style="text-align:center; font-size:60px; color:rgb(39, 39, 39);">How AI can shape our future</h1>


<p style="color:rgb(39, 39, 39);">The development of AI will have a massive impact on almost every aspect of our lives. Humans are complex creatures yet our processing speed is dwarfed by that a simple calculator. The only advantage we have over these computing devices is a sentience that until now could not be mimiced by computers.</p>
<p style="color:rgb(39, 39, 39);">Artifical intelligence and machine learning has the potential to fill this gap, whilst maintaining the incredible speed that is currently met with simple processes. Don't believe us? Then believe Tesla founder and tech giant Elon Musk, who recently donated $10 million to fund ongoing research at the non-profit research company OpenAI, a mere drop in the bucket if his $1 billion co-pledge in 2015 is any indication</p>
<br>
<br>

<p style="color:rgb(39, 39, 39);"">But what better way to discover the wonders of machine learning than to experience it for yourself?</p>
<p style="color:rgb(39, 39, 39);">Bring yourself to the /get_data page to find out.</p>
</body>
</html>

{% endblock %}

